<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="author" content="">
    <title></title>
    <link rel="icon" href="/img/favicon.jpg" >
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>

    <nav>
        <div class="nav-box container">

            <div class="nav-left">
                {{if user}}
                <div class="nav-header"> 
                    <img  src="{{user.headerurl}}" alt="">
                    <span><a href="/edit/userinfo" class="name">{{user.username}}&nbsp; </a>博客</span>
                    
                    <a href="/logout">&emsp; 登出</a>
                </div>
                {{else}}
                <div>
                    <a href="/login">登录</a>&emsp;
                    <a href="/regist">注册</a>
                </div>
                {{/if}}
            </div>
            <ul class="nav-right">
                <li>
                    <a href="/">首页</a>
                </li>
                <li>
                    <a href="/archive">存档</a>
                </li>
                <li>
                    <a href="/publish">发布</a>
                </li>
                <li><a href="/about">关于</a></li>
                <li><a href="/note">标签</a></li>

            </ul>
        </div>
    </nav>
    <div class="container content">
        <div class="content-left">
            <div class="about-box">
                <p class="about-title">关于</p>
                {{if user}}
                <div class="about-txt">
                    {{user.introduction}}
                </div>
                {{else}}
                <div class="about-login">
                    <p>还没有登录，请先<a href="/login">登录</a></p>
                </div>
                {{/if}}
            </div>
            
            <form action="/search" method="get" class="search-box">
                <input class="search" type="text" name="search" value="请输入关键字词">
                <button class="search-btn" type="submit">搜索</button>
            </form>
            <div class="code-box">
                <div class="code-txt">扫码关注下吧</div>
                <img src="/img/blog.png" alt="">
            </div>
        </div>